<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Добавить продукт</h1>
</div>
<!-- Navigation -->
<!-- TDOD: Replace with non-clickabale div's  -->
<ul class="nav nav-tabs">  
  <li  *ngFor="let t of tabs" class="nav-item">
    
    <a *ngIf="!t.disabled  && t.name != selectedTab" class="nav-link" [class.active]="selectedTab === t.name"                        
                        (click)="onTabSelected($event, t)" 
                        routerLink="{{t.path}}">{{t.name}}</a>
    
    <!-- We dont need a clickable tabs for disabled and active ones  -->
    <a *ngIf="!t.disabled && t.name === selectedTab" (click)="onTabSelected($event, t)" routerLink="{{t.path}}" class="nav-link active">{{t.name}}</a>

    <a *ngIf="t.disabled" [class.disabled]="t.disabled" class="nav-link" [class.active]="selectedTab === t.name">{{t.name}}</a>
  </li>  
</ul>

<!-- Item Form -->
<br>
<div *ngIf="!isPersisted()">
  <form #itemForm="ngForm">
    <div class="form-group">      
      <label for="itemTitle">Название:
        <input #title="ngModel" required name="title" class="form-control" id="itemTitle" aria-describedby="titleHelp" [(ngModel)]="item.title" placeholder="title">
      </label>
    </div>
    <div [hidden]="title.valid || title.pristine"class="alert alert-danger">Name is required</div>
    <div class="form-group">      
      <label for="itemCountry">Страна:
        <input class="form-control" name="country" id="itemCountry" aria-describedby="countryHelp" [(ngModel)]="item.country" [ngbTypeahead]="search" placeholder="country">
      </label>
    </div>

    <div class="form-group" style="width: 200px;">
      <label for="issue-date-calendar">Год выпуска:
        <input class="form-control" minlength="4" maxlength="4" name="issueYear" id="itemIssueYear" aria-describedby="issueYearHelp" [(ngModel)]="item.issueYear" placeholder="issueYear">
        <!-- <div class="input-group">
          <input id="issue-date-calendar" class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div> -->
      </label>
    </div>

    <div class="form-group" style="width: 200px;">
      <label for="itemCategory">Категория:</label>
      <select class="form-control"  id="itemCategory"
              required
              [(ngModel)]="item.category" name="category">
        <option value="Банкноты">Банкноты</option>
        <option value="Монеты">Монеты</option>
        <option value="Наборы">Наборы</option>
      </select>
    </div>

    <div class="form-group">      
      <label for="itemPrice">Цена:
        <input name="price" class="form-control" id="itemPrice" aria-describedby="priceHelp" [(ngModel)]="item.price" placeholder="price">
      </label>
    </div>    
    <br>
    <button type="button" [disabled]="!itemForm.form.valid" class="btn btn-primary" (click)="newItem()">Submit</button>
    
    <button type="button" class="btn btn-primary" (click)="cancelCreation()" style="margin-left: 20px;" >Cancel</button>
  </form>  
  <!-- Diagnostic -->
  {{diagnostic}}
  <br>
</div>

<!-- File Uploader -->
<div *ngIf="isPersisted()">
  <file-uploader [itemId] = "item.id"></file-uploader>
</div>
<br>