<!-- Page Content -->
<div class="container">

    <h4 class="my-4 text-center text-lg-left">Thumbnail Gallery</h4>

    <div class="row text-center text-lg-left">

      <!-- <div *ngFor="let it of items" class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="http://placehold.it/150x150" alt="">
        </a>
      </div> -->

      <div *ngFor="let it of items" class="col-lg-4 col-md-5 col-xs-4">
        <div clas="card" style="width: 22rem; padding: 1.5rem">
                    
          <img class="card-img-top mx-auto d-block" src="http://placehold.it/150x150" alt="Card image cap" style="width: 200px;">
          
          <div class="card-body">
            <!-- <h5 class="card-title">{{it.title}}</h5> -->
            <p class="card-text">{{it.title}}</p>
            <h5>{{it.price}} rub.</h5>
            <a href="#" class="btn btn-primary">Preview</a>
          </div>
        </div>
      </div>

    </div>
